@charset "utf-8";
/* CSS Document */

.main_title {
	margin:0 auto;
	font-family:"黑体";
	font-size:36pt;
	text-align:center;
}

.main_title_space {
	height:50px;
}

.main_space {
	height:20px;
}

.ver {
	text-align:center;
}

.title {
	background:#555FFF
}
